/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Anatolian+Hieroglyphs&display=swap');

/* Asterisk wild card selector to override the default styles applied by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic  project style*/
    color: #000000;
    font-family: 'Noto Sans Anatolian Hieroglyphs', sans-serif;
    padding-left: 2%;
}

h1 {
    font-size: 1.0771875rem;
    font-weight: 800;
    line-height: normal;
}

h1>span {
    font-size: 1.3505625rem;
    color: #FFAA04;
}

h2 {
    font-size: 0.952375rem;
    font-weight: 400;
}

/* Header*/
header {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: baseline;
    position: fixed;
    background-color: #ffffff;
}

header a {
    text-decoration: none;
    color: inherit
}

#menu {
    list-style-type: none;
    margin-top: 20px;
    border: none;

}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 3px solid #FFAA04;

}

/* Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    box-shadow: 1px 2px 0px #000000;
    display: none;

}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.75rem;
    position: absolute;
    top: 25%;
    left: 90%;
}

/* Main Content*/
main {
    /* Make main element take any surplus space to push footer down. This property sets flex grow,shrink and basis*/
    flex: 1 0 auto;
    margin-top: 188px;

}

#verticle-border {
    display: none;
}

/* Bio section*/
#my-bio img {
    width: 50%;
    margin-left: 25%;
}

#my-bio p {
    padding: 10px 20px;
    text-align: center;
}

p#highlight {
    padding: 0;
    font-weight: 800;
    font-size: 1.2rem;
}

p#highlight>span {
    color: #FFAA04;
}




/* Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {

    h1 {
        font-size: 1.2771875rem;
    }

    h1>span {
        font-size: 1.9505625rem;
    }

    h2 {
        font-size: 1.22375rem;
    }

    /*Header*/
    nav {
        display: block;
        box-shadow: none;
        top: 20%;

    }

    #menu {
        display: flex;
        justify-content: flex-end;
        padding-right: 5%;

    }

    #menu>li {
        display: flex;
        font-size: 1.2rem;
        margin-left: 2%;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Main Content*/
    main {
        margin-top: 107px;
    }

}